<h1>Articles listing page</h1>

<%= will_paginate @articles, :container => false %>

<%= render 'article' %>

<br /><br />

<%= will_paginate @articles, :container => false %>

<p>
    <%= link_to 'Create new article', new_article_path%>
</p>